<form action="/user/login" method="POST" class="signupform">
    <label for="email">E-MAIL</label>
    <input name="email" type="email" required />
    <label for="password">PASSWORD</label>
    <input name="passwd" type="password" required />
    <button class="btn">LOGIN!</button>
</form>